main dialog {
  width: 300px;
  margin: auto;
  padding: 32px;
  border-radius: 16px;
  border: 2px solid #1c1c1e;
  background: #07ff1c;
  position: relative;
}

main dialog button {
  position: absolute;
  margin: -16px 0 0 220px;
  cursor: pointer;
  border: none;
  background: transparent;
}

main dialog h3 {
  font-size: 1rem;
  text-align: center;
}

main dialog h2 {
  font-size: 1.5rem;
  text-align: center;
  margin: 8px 0;
}

main dialog p {
  font-size: 16px;
  text-align: center;
}

main dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}